# Specifies the language the sentences of the processed text are in. Sentences and frequencies are stored in separate database files for each language: English.redb, Finnish.redb, etc. Sentences/frequencies from one language do not overlap with the other.
DEFAULT_LANGUAGE=English

# It is possible to fetch top N frequencies or rankings from the database with the `show frequencies` and `show rankings` commands. This specifies the default limit for how many frequencies/rankings to show. It is only used if no CLI --limit flag is specified for the show command. If there is, that value from the CLI is used instead.
DEFAULT_TOP_N_LIMIT=50